<div id="resfavbarcontainer">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a id="results" class="nav-link {{ results? 'active' : '' }}" (click)="resultsclick()" href="javascript:void(0);">Results</a>
    </li>
    <span id="space"></span>
    <li class="nav-item">
      <a id="favorites" class="nav-link {{ favorites? 'active' : '' }}" (click)="favoritesclick()" href="javascript:void(0);">Favorites</a>
    </li>
  </ul>
</div>
<app-favorite *ngIf="favorite.showfavorite" (favclicked)="init()"></app-favorite>
