<table class="table table-hover" *ngIf="hasfavorite">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td class="city" (click)="showdayview(el.id)">{{el.city}}</td>
      <td class="state">{{el.state}}</td>
      <td (click)="toss(el.id)">
        <img src="../../assets/images/trash-fill.svg" alt="" width=25px height=25px>
      </td>
    </tr>
  </tbody>
</table>
<div class="container" *ngIf="!hasfavorite">
  <b>Sorry!&nbsp;</b><span id="warn">No records found.</span>
</div>
