<table class="table table-hover" *ngIf="hasfavorite">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td><a href="javascript:void(0);" (click)="showdayview(el.id)">{{el.city}}</a></td>
      <td><a href="javascript:void(0);" (click)="showdayview(el.id)">{{el.state}}</a></td>
      <td>
        <img (click)="toss(el.id)" src="../../assets/images/trash-fill.svg" alt="" width=25px height=25px>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning" role="alert" *ngIf="!hasfavorite"><b>Sorry!&nbsp;</b>No records found.</div>
