<div class="container">
  <app-form></app-form>
  <app-resfavbtn></app-resfavbtn>
  <app-progressbar *ngIf="progress.loading"></app-progressbar>
  <div class="alert alert-danger" role="alert" *ngIf="progress.searchclicked && !progress.finished && progress.loadingerror">
    An error occured please try again later
  </div>
  <div *ngIf="progress.finished && anim.control">
    <app-cardloc *ngIf="loc.showcardloc"></app-cardloc>
    <app-dailytemp *ngIf="chart.showchart"></app-dailytemp>
    <app-meteogram *ngIf="meteo.showmeteo"></app-meteogram>
  </div>
  <div *ngIf="progress.finished && !anim.control">
    <app-dailydetails *ngIf="dailydetails.showdetails" (detailsclicked)="slidetable()"></app-dailydetails>
  </div>
</div>
