<div id="details">
  <div class="row">
    <div class="buttons">
      <button type="button" class="btn btn-light btn-outline-dark" (click)="showtable()">
        <img src="../../assets/images/chevron-left.svg">
        <span class="txt">List</span>
      </button>
    </div>
    <b id="date">
      {{ date }}
    </b>
    <div class="buttons">
      <a class="btn btn-primary btn-sm" href="https://twitter.com/intent/tweet?text={{ tweet }}&hashtags=CSCI571WeatherForecast" target="_blank">
        <img src="../../assets/images/2021 Twitter logo - white.png" width=15px height=15px>
      </a>
    </div>
  </div>
  <table class="table table-striped mt-3" >
  <tbody>
  <tr>
    <th scope="col" class="col-sm-2">Status</th>
    <td class="col-sm-4">{{ status }}</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Max Temperature</th>
    <td class="col-sm-4">{{ maxtemp }} °F</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Min Temperature</th>
    <td class="col-sm-4">{{ mintemp }} °F</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Apparent Temperature</th>
    <td class="col-sm-4">{{ apptemp }} °F</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Sun Rise Time</th>
    <td class="col-sm-4">{{ sunrise }}</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Sun Set Time</th>
    <td class="col-sm-4">{{ sunset }}</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Humidity</th>
    <td class="col-sm-4">{{ humidity }} %</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Wind Speed</th>
    <td class="col-sm-4">{{ windspd }} mph</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Visibility</th>
    <td class="col-sm-4">{{ visibility }} mi</td>
  </tr>
  <tr>
    <th scope="col" class="col-sm-2">Cloud Cover</th>
    <td class="col-sm-4">{{ cloud }} %</td>
  </tr>
  </tbody>
  </table>
  <agm-map
  [latitude]="lat"
  [longitude]="long"
  [zoom]="15" >
  <agm-marker
  [latitude]="lat"
  [longitude]="long"></agm-marker>
  </agm-map>
</div>
