.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.nav-item {
  display: flex;
}

.nav-link {
  flex-grow: 1;
}

.nav-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
